{% extends 'base.html.twig' %}

{% block title %}Home page{% endblock %}

{% block body %}

<h1>Home page</h1>
<a class="btn btn-primary" href="/company" role="button">Company</a>
<a class="btn btn-primary" href="/department" role="button">Department</a>
<a class="btn btn-primary" href="/project" role="button">Project</a>
<a class="btn btn-primary" href="/people" role="button">Project people</a>
<a class="btn btn-primary" href="/staff" role="button">Staff</a>
{% endblock %}
